@font-face {
  font-family: 'icomoon';
  src: url("stylesheets/fonts/icomoon.eot");
  src: url("stylesheets/fonts/icomoon.eot?#iefix-p3wnuz") format("embedded-opentype"), url("stylesheets/fonts/icomoon.woff?-p3wnuz") format("woff"), url("stylesheets/fonts/icomoon.ttf?-p3wnuz") format("truetype"), url("stylesheets/fonts/icomoon.svg?-p3wnuz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon-mail:before, .icon-facebook:before, .icon-twitter:before, .icon-youtube:before, .icon-linkedin:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 4em;
  line-height: 4;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mail:before {
  content: "\e600"; }

.icon-facebook:before {
  content: "\e601"; }

.icon-twitter:before {
  content: "\e602"; }

.icon-youtube:before {
  content: "\e603"; }

.icon-linkedin:before {
  content: "\e604"; }
